.button {
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.button:active {
    transform: escale('.1');
}

#play {
    background-image: url('../../Assets/images/play.svg');
}

#pause {
    background-image: url('../../Assets/images/pause.svg');
}

#backward {
    background-image: url('../../Assets/images/-10.svg');
}

#forward {
    background-image: url('../../Assets/images/+10.svg');
}